<section class="drinks-content" *ngIf="alcoholicDrinks.length>0">
    <div class="title">

        <h3>
            Alcoholic Drinks
        </h3>
    </div>

    <app-galery [drinks]="alcoholicDrinks"></app-galery>
</section>


<section class="drinks-content" *ngIf="nonAlcoholicDrinks.length>0">
    <div class="title">
        <h3>Non Alcoholic Drinks</h3>
    </div>

    <app-galery [drinks]="nonAlcoholicDrinks"></app-galery>
</section>


<!-- Spinner -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="crimson" type="line-spin-clockwise-fade" [fullScreen]="true">
    <p style="color: white"> Just a moment... </p>
</ngx-spinner>