@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
.drinks-content {
    margin-top: 100px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.drinks-content .title>h3 {
    letter-spacing: 2px;
    font-size: 2.4em;
    font-family: 'New Tegomin', serif;
}

.drinks-content .title mat-icon {
    font-size: 1.8em;
    margin-right: 10px;
    color: crimson;
}