@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Playfair+Display&display=swap');
.galery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

mat-card {
    height: 300px;
    width: 25%;
    margin-top: 50px;
}

mat-card img {
    height: 230px;
    width: 100%;
    object-fit: contain;
}

mat-card mat-card-header mat-card-title {
    font-family: 'Playfair Display', serif;
    text-align: left;
}