.search-content {
    margin-top: 80px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search>p {
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
}

.example-form-field {
    width: 27%;
    margin-top: 15px;
}

.results-info {
    margin-top: 40px;
    font-size: 1.7em;
    font-family: 'New Tegomin', serif;
    text-align: center;
    color: firebrick;
}