.search-content {
    margin-top: 80px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-form-field {
    width: 30%;
}

.results-info {
    margin-top: 40px;
    font-size: 1.7em;
    font-family: 'New Tegomin', serif;
    text-align: center;
    color: firebrick;
}