<section class="search-content">
    <div class="search">
        <p>Find Any Drink</p>
        <mat-form-field class="example-form-field">
            <!--    <mat-label>Search</mat-label> -->
            <input matInput type="text" autocomplete="off" (keyup)="onSearch($event)">
        </mat-form-field>
    </div>

    <section>
        <app-galery *ngIf="cocktails.length>0" [drinks]="cocktails"></app-galery>
        <p class="results-info" *ngIf="noResults">Sorry, We couldn't find any cocktail with that name</p>
    </section>


</section>

<!-- Spinner -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="crimson" type="line-spin-clockwise-fade" [fullScreen]="true">
    <p style="color: white"> Just a moment... </p>
</ngx-spinner>